* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
   font-family: 'Muli', sans-serif;
   display: flex;
   flex-direction: column;
   text-align: center;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

/* LOGIN FORM */
.login-header .logo{
    width: 250px;
    margin-top: 75px;
}

.login-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-form {
    margin-bottom: 105px;
}

.login-form p {
    margin: 11px;
}

.login-form .login-submit {
    margin: 13px;
}

.login-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #9A9C9B;
    border-radius: 17px;
    font-family: 'Muli', sans-serif;
    font-size: 1.1em;
    text-align: center;
    width: 75%;
    color: #D4D4D4;
    height: 2.7rem;
    outline: none;
}

.login-submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #1EC0BF;
    color: white;
    border: none;
    border-radius: 17px;
    font-family: 'Muli', sans-serif;
    font-size: 1.1em;
    text-align: center;
    width: 75%;
    height: 2.7rem;
    outline: none;
}

.login-footer {
    flex-shrink: 0;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    color: #9A9C9B;
}

/* hr{
    width: 50%;
    border-width: 0.5px;
    border-color: #BBB;
}

nav ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li{
    padding: 11px;
} */

/* DASHBOARD */
.content {
    flex: 1 0 auto;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    overflow: none;
}

.dashboard-header {
    /* box-shadow: 3px 3px 10px #9A9C9B; */
    border-bottom: 0.1px solid #c7c7c7;
}

.dashboard-header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
}

.dashboard-header .dashboard-logo {
    width: 140px;
    margin-bottom: 16px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 6.874px;
}

.grid .item {
    display: flex;
    flex-direction: column;
    background-color: #1EC0BF;
    color: white;
    border-radius: 15px;
    /* padding: 30px; */
    width: 130px;
    height: 130px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.opciones {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.opciones p {
    display: flex;
    justify-content: space-around;
}

/* .grid .item p {
    margin-bottom: 5px;
} */

/* INVENTARIO */
.header-inventario{
    margin: 11%;
}

.inv-buscar{
    padding-bottom: 7%;
}

.inv-form{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #9A9C9B;
    border-radius: 17px;
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    text-align: center;
    color: #7F7F7F;
    width: 75%;
    outline: none;
}

.inventario{
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin: auto;
    color: #7F7F7F;
    font-size: .9em;
}

/* .invItem1{
    display: flex;
    justify-content: flex-start;
} */

.invItem2{
    /* display: flex;
    justify-content: flex-end; */
    color: #24C0C0;
    font-weight: 500;
}

/* CONSIGNAR */
.header-consignar{
    margin: 11%;
}

.consig-form, .bodg-form{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #9A9C9B;
    border-radius: 17px;
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    color: #7F7F7F;
    outline: none;
    /* text-align: center;
    width: 75%;
    height: 2.7rem; */
}

.consig-submit, .bodg-submit{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 15px;
    background-color: #1EC0BF;
    color: white;
    border: none;
    border-radius: 17px;
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    text-align: center;
    outline: none;
    /* width: 75%;
    height: 2.7rem; */
}

/* BODEGAS */
.header-bodegas{
    margin: 11%;
}

table{
    margin: 0 auto;
}

.bodProducto{
    text-align: left;
    font-size: .9em;
}